<!-- Transaksi card -->
<div class="transaction-card-container">
    <div class="icon-circle">
        <img src="assets/svg/ic_common_transfer.svg" alt="transfer" style="height: 75%; width: 75%;">
    </div>

    <div class="transaction-card-content">
        <div class="transaction-card-content-first">
            <div class="transaction-card-content-first-left">
                <span class="first-text1">Transfer</span>
                <span class="first-text2">{{transactionAmount}}</span>
            </div>
        </div>

        <div class="transaction-card-content-second">
            <div class="transaction-card-content-first-left">
                <span class="second-text1">{{transactionFrom}}</span>
                <div class="category-transaction">
                    <span class="category-text">{{transactionType}}</span>
                </div>
            </div>
        </div>
    </div>
</div>