<section style="height: calc(100vh - 76px); position: relative; overflow: hidden;">
    <div class="breakdown-box">
        <div class="breakdown-title">
            <div class="title-date">
                <span>Total per </span>
                <span class="title-date-bold">1 Jun 2023 - 30 Jun 2023</span>
            </div>

            <div class="title-amount">
                <div>
                    <p class="title-amount-text">Rp2.000.000</p>
                    <p class="title-amount-tx">dari <span style="font-weight: 600;">10</span> total transaksi</p>
                </div>
                <div class="icon-circle">
                    <img src="assets/svg/ic_common_money_out.svg" alt="money">
                </div>
            </div>
        </div>

        <div class="breakdown-chart">
            <div>
                <p class="breakdown-chart-title">
                    Grafik Mingguan
                </p>
            </div>

            <div class="chart-container">
                CHART
            </div>
        </div>
    </div>

    <app-slider></app-slider>

</section>