<div class="container">
    <div class="header">
        <div class="period-section">
            <div class="period-icon">
                < 
            </div>
            <div class="period-title">
                <div>Periode</div>
                <div>1 Jun 2023 - 30 Jun 2023</div>
            </div>
        </div>

        <div class="acount-selection">
            <div class="acount-title"> Semua Rekening </div>
            <div class="acount-icon">V</div>
        </div>

        <div class="cashflow-card">
            <div class="cashflow-top">
                <div class="cashflow-top-card">
                    <div class="top-title">
                       <div class="top-title-icon"> </div>
                       <div>Pemasukan</div>
                    </div>
                    <div class="cashflow-value">
                        Rp220.000.000
                    </div>
                </div>
                <div class="icon-line"></div>
                <div class="cashflow-top-card">
                    <div class="top-title">
                        <div class="top-title-icon"> </div>
                        <div>Pengeluaran</div>
                    </div>
                    <div class="cashflow-value">
                        Rp200.000.000
                    </div>
                </div>
            </div>
            <div class="cashflow-bottom">
                <div class="title-normal">Selisih</div>
                <div class="headline3">+Rp20.000.000</div>
            </div>
        </div>

    </div>
    <div class="header-toggle">
        <app-toggle-tabs [dataTabs]="dataTabs"></app-toggle-tabs>
    </div>

    <div class="content-chart">
        <div class="text-bold">Sebaran</div>
        <div class="chart-donut">
            <app-pie-chart></app-pie-chart>
        </div>
    </div>
    <div class="content-categori">
        <div class="text-bold">
            Daftar Kategori
        </div>
        <div style="margin-top: 15px;" >
            <app-card-category  ></app-card-category>
        </div>
        <div style="margin-top: 15px;" >
            <app-card-category  ></app-card-category>
        </div>
        <div style="margin-top: 15px;" >
            <app-card-category  ></app-card-category>
        </div>
    </div>

   
   
</div>
