<div class="category-container">
    <div class="category-icon">
        <img src="assets/svg/ic_common_biaya.svg" alt="arrow" style="width:21.33px; height:21.33px;" >  
      </div>
    <div class="category-content">
        <div>Uang Masuk</div>
        <div class="text-bold">Rp 180.000.000</div>
        <div>5 Transaksi dari total</div>
    </div>
    <div class="category-navigate">
        <div class="text-bold">30%</div>
        <div (click)="navigateToNextPage()" class="navigate-icon">
            <img src="assets/svg/ic_common_chevron_right.svg" alt="arrow" style="width:21.33px; height:21.33px;" >  
        </div>
    </div>
</div>